<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">
        {{ "Confidentiality" | translate }}
      </p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="confImagen"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        {{ "ConfidentialityTxt1" | translate }}
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #a480f2">
      <p class="nav-links nav-middle-text">
        {{ "PrivacyInYourData" | translate }}
      </p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      {{ "ConfidentialityTxt2" | translate }}
    </p>
  </div>
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f78ecf">
      <p class="nav-links nav-middle-text">{{'PersonalDataThatWeHandle'| translate }}</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      {{'ConfidentialitySubTxt1'| translate }}<br />
    </p>

    <ul>
      <li class="style-text">
        {{'ConfidentialitySubTxt2' | translate }}
      </li>

      <li class="style-text">
        {{'ConfidentialitySubTxt3' | translate }}
      </li>

      <li class="style-text">
        {{'ConfidentialitySubTxt4' | translate }}
      </li>

      <li class="style-text">{{'ConfidentialitySubTxt5'| translate }}</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
