<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">CONFIDENCIALIDAD</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="confImagen"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        En Feel Me-Sex Shop entendemos que la Confidencialidad es la clave.
        puedes estar seguro de que tu pedido llegará en una bolsa oscura o una
        caja sin marcar para garantizar la plena discreción de tus compras. No
        ponemos señalización o logotipos en nuestros paquetes de mensajería para
        que nadie, ni siquiera el mensajero, sepa qué hay dentro. Nuestro
        objetivo es proteger tu privacidad durante todo el proceso de compra,
        hasta que el paquete llegue de forma segura y discreta a tus manos.
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #a480f2">
      <p class="nav-links nav-middle-text">PRIVACIDAD EN TUS DATOS</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      Sabemos lo importante que es para ti tu privacidad y por eso uno de
      nuestros principales propósitos es mantener tu información segura y
      privada, desde que te inscribes en nuestra página hasta que tu pedido
      llega a tu casa e incluso posteriormente. No vendemos ni venderemos tus
      datos a terceros.
    </p>
  </div>
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f78ecf">
      <p class="nav-links nav-middle-text">DATOS PERSONALES QUE MANEJAMOS</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      Los siguientes son los datos que Feel Me-Sex Shop te pide para hacer
      efectiva tu compra: <br />
    </p>

    <ul>
      <li class="style-text">
        
        Nombre y Apellido: Debemos saber para quién vamos a dirigir el paquete y
        a qué dirección vamos a enviarte la factura.
      
      </li>

      <li class="style-text">
        Dirección, Pais y ciudad: Necesitamos saber a donde vamos a dirigir tu
        compra.
      </li>

      <li class="style-text">
        Teléfono: Es opcional pero es la mejor manera de comunicarnos contigo en
        caso de que algo extraordinario ocurra con el envío.
      </li>

      <li class="style-text">Método de pago y transportadora</li>
    </ul>

  </div>
</div>

<app-footer></app-footer>
