<div class="row">
  <div class="col-md-8">
    <div style="padding-top: 150px">
      <div class="separatorSabiasQue">
        <ul class="nav nav-middle">
          <p class="nav-links nav-middle-text">CONFIDENCIALIDAD</p>
        </ul>
      </div>

      <img
        [src]="confImagen"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />

      <div style="justify-content: center">
        <h1 class="style-text">
          En Feel Me-Sex Shop entendemos que la Confidencialidad es la clave.
          puedes estar seguro de que tu pedido llegará en una bolsa oscura o una
          caja sin marcar para garantizar la plena discreción de tus compras. No
          ponemos señalización o logotipos en nuestros paquetes de mensajería
          para que nadie, ni siquiera el mensajero, sepa qué hay dentro. Nuestro
          objetivo es proteger tu privacidad durante todo el proceso de compra,
          hasta que el paquete llegue de forma segura y discreta a tus manos.
        </h1>
      </div>

      <div class="separatorSabiasQue">
        <ul class="nav nav-middle">
          <p class="nav-links nav-middle-text">PRIVACIDAD DE TUS DATOS</p>
        </ul>
      </div>

      <div style="justify-content: center">
        <h1 class="style-text">
          Sabemos lo importante que es para ti tu privacidad y por eso uno de
          nuestros principales propósitos es mantener tu información segura y
          privada, desde que te inscribes en nuestra página hasta que tu pedido
          llega a tu casa e incluso posteriormente. No vendemos ni venderemos
          tus datos a terceros.
        </h1>
        <br /><br />
        <h1 class="style-text">
          Los siguientes son los datos que Feel Me-Sex Shop te pide para
          hacer efectiva tu compra:
        </h1>
        <ol style="list-style-type: square">
          <li class="list-text">
            Nombre y Apellido:  Debemos saber para quién vamos a dirigir el paquete y a qué dirección vamos a enviarte la factura.
          </li>

          <li class="list-text">
            Dirección, Pais y ciudad: Necesitamos saber a donde vamos a dirigir tu compra.
          </li>
          <li class="list-text">
            Teléfono: Es opcional pero es la mejor manera de comunicarnos contigo en caso de que algo extraordinario ocurra con el envío.
          </li>
          <li class="list-text">
            Método de pago y transportadora</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div style="padding-top: 150px">
      <div class="separatorSabiasQue">
        <ul class="nav nav-middle">
          <p class="nav-links segunda-columna">Ayuda</p>
        </ul>
      </div>
      <div>
        <ul style="margin-left: 30px; list-style-type: square">
          <li>
            <a routerLink="productos" class="li-segunda-col"
              >PreguntasFrecuentes
            </a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col">¿Quienes Somos?</a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col">Devoluciones </a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col"
              >Confidencialidad
            </a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col"
              >Atencion Oportuna
            </a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col"
              >Precios Asequibles
            </a>
          </li>
          <li>
            <a routerLink="productos" class="li-segunda-col"
              >Nuestros productos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
