.enviosContainer {
  margin: 150px 8vw 50px 8vw;
}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.separatorSabiasQue {
  padding-bottom: 20px;
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}

.imageText {
  padding-bottom: 20px;
}

.style-text {
  color: #000000;
  font-size: 20px;
  text-align: justify;
}


.containerImage {
  padding: 20px 0 20px 0;
}

table td{
  padding: 10px 0 10px 0;
}

table td h4{
  font-weight: 400;
}

.image-transporte {
  width: 340px;
  height: 100px;
}

.image-entrega {
  width: 250px;
  height: 200px;
  margin: 10px;
}