<footer>
  <div class="container container-footer">
    <div class="row">
      <div class="col columna-mobile-100">
        <h3>Ayuda</h3>
        <ul>
          <li>
            <a routerLink="preguntasFrecuentes" class="footerOptions"
              >Preguntas Frecuentes</a
            >
          </li>
          <li>
            <a routerLink="productos" class="footerOptions"
              >Nuestros Productos</a
            >
          </li>
          <li>
            <a routerLink="envios" class="footerOptions">Envios</a>
          </li>
          <li>
            <a routerLink="devoluciones" class="footerOptions">Devoluciones</a>
          </li>
        </ul>
      </div>
      <div class="col columna-mobile-100">
        <h3>Sobre Nosotros</h3>
        <ul>
          <li>
            <a routerLink="productos" class="footerOptions"
              >¿Quienes Somos?</a
            >
          </li>
          <li>
            <a routerLink="contacto" class="footerOptions">Contactanos</a>
          </li>
          <li>
            <a routerLink="confidencialidad" class="footerOptions"
              >Confidencialidad</a
            >
          </li>
          <li>
            <a routerLink="productos" class="footerOptions"
              >Atencíon Oportuna</a
            >
          </li>
          <li>
            <a routerLink="productos" class="footerOptions"
              >Precios Asequibles</a
            >
          </li>
        </ul>
      </div>
      <div class="col columna-mobile-100">
        <h3>Redes sociales</h3>
        <ul class="redes">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <img [src]="facebookIcon" class="socialMediaIcon"/>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <img [src]="instagramIcon" class="socialMediaIcon" />
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank">
              <img [src]="twitterIcon" class="socialMediaIcon"/>
            </a>
          </li>
          <li>
            <a href="https://web.whatsapp.com" target="_blank">
              <img [src]="whatsappIcon" class="socialMediaIcon"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="barra-footer">&copy; Derechos reservados - 2022</div>
</footer>