<footer>
  <div class="container container-footer">
    <div class="row">
      <div class="col columna-mobile-100">
        <h3>{{'Ayuda'| translate }}</h3>
        <ul>
          <li>
            <a href="/preguntasFrecuentes" class="footerOptions"
            >{{'PreguntasFrecuentes'| translate }}</a
            >
          </li>
          <li>
            <a href="/productos" class="footerOptions"
              >{{'NuestrosProductos'| translate }}</a
            >
          </li>
          <li>
            <a href="/envios" class="footerOptions">{{'Envios'| translate }}</a>
          </li>
          <li>
            <a href="/devoluciones" class="footerOptions">{{'Devoluciones'| translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col columna-mobile-100">
        <h3>{{'SobreNosotros'| translate }}</h3>
        <ul>
          <li>
            <a href="/quienesSomos" class="footerOptions"
              >{{'QuienesSomos'| translate }}</a
            >
          </li>
          <li>
            <a href="/contacto" class="footerOptions">{{'Contactanos'| translate }}</a>
          </li>
          <li>
            <a href="/confidencialidad" class="footerOptions"
              >{{'Confidencialidad'| translate }}</a
            >
          </li>
          <li>
            <a href="/atencionOportuna" class="footerOptions"
              >{{'AtencionOportuna'| translate }}</a
            >
          </li>
          <li>
            <a href="/preciosAsequibles" class="footerOptions"
              >{{'PreciosAsequibles'| translate }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col columna-mobile-100">
        <h3>{{'Redessociales'| translate }}</h3>
        <ul class="redes">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <img [src]="facebookIcon" class="socialMediaIcon" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <img [src]="instagramIcon" class="socialMediaIcon" />
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank">
              <img [src]="twitterIcon" class="socialMediaIcon" />
            </a>
          </li>
          <li>
            <a href="https://web.whatsapp.com" target="_blank">
              <img [src]="whatsappIcon" class="socialMediaIcon" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
