header {
  padding: 0px 0; /*que quite margenes mejor dicho, el margin es para agregar margenes*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 30px black;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 100px; /*darle anchura completa al logo*/
}

header .container nav a {
  color: black;
  text-decoration: none; /*le quita las lineas a los items de a*/
  margin: 0 15px;
  font-weight: bold;
}

header .container nav a:hover {
  color: #c580ed;
}

.dropdownUser{
  color: black;
  text-decoration: none; 
  margin: 0 15px;
  font-weight: 500 !important;
}

.dropdownUser :hover{
  color: #A480F2;
}

nav{
  text-align: right;
}

.carrito {
  max-width: 6%;
}

.carrito2:hover {
  opacity: 50%;
}

.user {
  max-width: 5%;
}

.user2:hover {
  opacity: 50%;
}

.logos{
  width: 70%;
}

.container /*selector por clase o por etiqueta*/ {
  width: 1140px;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

/* --------------------------------------------------- */

/* MENU */

.nav-link:hover {
  background-color: #fab4c8;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
}

.nav-upside {
  background: rgb(164, 128, 242);
  background: linear-gradient(
    90deg,
    rgba(164, 128, 242, 1) 0%,
    rgba(197, 128, 237, 1) 50%,
    rgba(229, 133, 238, 1) 100%
  );
  justify-content: center;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border: none;
}

.links {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.15);
}

.imgUser {
  max-width: 60px;
}
