<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<header>
  <!-- vamos a dividir el bloque con div despues de eso-->
  <div class="container">
    <!-- esto se usa para separar bloques, la clase es para usarla en varias partes de la web -->
    <!-- hipervinculo que nos da direcciones de la imagen o texto, base clickeable-->
    <a class="logos" href="/inicio">
      <img [src]="logoFeelMe" class="logo" />
      <!-- el source es para colocar la ruta del logo-->
      <img [src]="SloganFeelMe" class="logo" style="width: 200px" />
    </a>

    <nav>
      <!-- relacionada a los navegadores-->
      <a type="submit" (click)="insertarprueba()" href="/inicio"> Inicio</a
      ><!-- hace referencia a un elemento con ID -->
      <a href="/productos"> Productos</a>

      <a href="/pago" class="carrito2"
        ><img class="carrito" [src]="iconcarrito" /><span
          class="position-absolute start-100 p-2 bg-danger border border-light rounded-circle"
          style="transform: translateX(-118px)"
        >
        </span>
      </a>

      <a
        class="dropdown-toggle user2"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img [src]="iconUser" class="user" />
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item dropdownUser" href="/perfil">Perfil</a></li>
        <li>
          <a class="dropdown-item dropdownUser" href="#">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
  </div>

  <ul class="nav nav-tabs nav-upside">
    <a class="nav-link links" href="/productos">Para Mujeres</a>
    <a class="nav-link links" href="/productos">Para Hombres</a>
    <a class="nav-link links" href="/productos">Para Parejas</a>
    <a class="nav-link links" href="/productos">Unisex</a>
    <a class="nav-link links" href="/productos">Vibradores</a>
    <a class="nav-link links" href="/productos">Juegos</a>
    <a class="nav-link links" href="/productos">Lenceria</a>
    <a class="nav-link links" href="/productos">Lubricantes/Aceites</a>
    <a class="nav-link links" href="/productos">Otros</a>
  </ul>
</header>
