<div class="entryPageBackground">
  <div class="container forget-password">
    <div class="row">
      <div class="col-md-12 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a class="backImgContainer" href="/inicio">
              <img [src]="backArrow" alt="car-key" class="backImg" />
            </a>

            <div class="text-center">
              <img [src]="iconUser" alt="car-key" border="0" />

              <form
                id="register-form"
                role="form"
                autocomplete="off"
                class="form"
                method="post"
              >
                <!-- Input Email -->
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nombres</label
                  >
                  <div class="input-group inputs">
                    <input class="inputEmail" value="Juanes" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Apellidos</label
                  >
                  <div class="input-group inputs">
                    <input class="inputEmail" value="Gomez" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email</label
                  >
                  <div class="input-group inputs">
                    <input
                      class="inputEmail"
                      value="juanes@hotmail.com"
                      readonly
                    />
                  </div>
                </div>

                <!-- Input Email -->
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Contraseña</label
                  >
                  <div class="input-group inputs">
                    <input class="inputEmail" value="963" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Genero</label
                  >
                  <div class="input-group inputs">
                    <input class="inputEmail" value="Mk" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Fecha De Nacimiento</label
                  >
                  <div class="input-group inputs">
                    <input class="inputEmail" value="19/03/2002" readonly/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
