<section class="h-100 h-custom registerBackground">
  <div class="whitebox">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <a class="backImgContainer" href="/login">
            <img [src]="backArrow" alt="car-key" class="backImg" />
          </a>
          <div class="card-body cardSize">
            <div class="separatorSabiasQue">
              <ul class="nav nav-middle" style="background-color: #f992ad">
                <p class="nav-links nav-middle-text">REGISTRATE</p>
              </ul>
            </div>

            <form class="px-md-2">
              <!-- Nombre -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Nombres</label>
                <input
                  type="text"
                  id="nombre_registro"
                  name="nombre_registro"
                  autocomplete="off"
                  required
                  autofocus
                  [(ngModel)]="nombre"
                  class="form-control"
                />
              </div>
              <!-- Apellidos -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Apellidos</label>
                <input
                  type="text"
                  id="apellido_registro"
                  name="apellido_registro"
                  autocomplete="off"
                  required
                  autofocus
                  [(ngModel)]="apellido"
                  class="form-control"
                />
              </div>
              <!-- Correo -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Correo</label>
                <input
                  type="text"
                  id="email_registro"
                  name="email_registro"
                  autocomplete="off"
                  required
                  autofocus
                  [(ngModel)]="emailRegister"
                  class="form-control"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Género</label>
                <div class="col-md-12 mb-4">
                  <select
                    id="genero"
                    name="genero"
                    [(ngModel)]="genero"
                    class="selectGenero"
                  >
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                  </select>
                </div>
              </div>

              <!-- Contraseña -->
              <div class="form-group pb-4">
                <label class="form-label" for="form3Example1q"
                  >Contraseña</label
                >
                <div class="input-group inputsPassword">
                  <input
                    type="password"
                    id="contrasena_registro"
                    name="contrasena_registro"
                    autocomplete="off"
                    required
                    autofocus
                    placeholder="******** "
                    [(ngModel)]="contrasenaRegister"
                    class="form-control"
                  />
                  <button
                    class="btn btnShow"
                    (click)="mostrarcontrasena()"
                    type="button"
                    id="button-addon2"
                    style="font-size: 14px"
                  >
                    Mostrar
                  </button>
                </div>
              </div>

              <!-- Confirmar Contraseña -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >Confirmar Contraseña</label
                >
                <div class="input-group inputsPassword">
                  <input
                    type="password"
                    id="confirmar_contraseña"
                    name="confirmar_contraseña"
                    autocomplete="off"
                    required
                    autofocus
                    placeholder="******** "
                    [(ngModel)]="confirmarContrasena"
                    class="form-control"
                  />
                  <button
                    class="btn btnShow"
                    (click)="mostrarconfirmarcontrasena()"
                    type="button"
                    id="button-addon2"
                    style="font-size: 14px"
                  >
                    Mostrar
                  </button>
                </div>
              </div>

              <div
                class="pt-4 d-flex justify-content-center align-items-center"
              >
                <button
                  type="submit"
                  class="btn btn-lg mb-1 btnRegistrarse"
                  (click)="insertarPerona()"
                >
                  Registrarse
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
