<section class="h-100 h-custom" style="background-color: #8fc4b7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100"
            style="
              border-top-left-radius: 0.3rem;
              border-top-right-radius: 0.3rem;
            "
            alt="Sample photo"
          />
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form class="px-md-2">
                <!-- Nombre -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Nombres</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>
              <!-- Apellidos -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Apellidos</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>
              <!-- Correo -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Correo</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>
              <!-- Contraseña -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Contraseña</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>
              <!-- Confirmar Contraseña -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Confirmar Contraseña</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>

              <div class="col-md-6 mb-4">
                <select class="select">
                  <option value="1" disabled>Genero</option>
                  <option value="2">Hombre</option>
                  <option value="3">Mujer</option>
                  <option value="4">Other</option>
                </select>
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
