.registerBackground {
  background: rgb(164, 128, 242);
  background: linear-gradient(
    90deg,
    rgb(210, 192, 250) 3%,
    rgb(231, 193, 236) 50%,
    rgb(231, 193, 236) 100%
  );
  height: 100vh;
  width: 100vw;
}

.btnRegistrarse {
  background-color: #f992ad;
  color: white;
  border: 1px solid rgba(97, 95, 95, 0.589);
  width: 150px;
}

.btnRegistrarse:hover {
  background-color: #c580ed;
  color: white;
}

.backImgContainer {
  padding: 10px 0 0 10px;
}

.backImg {
  width: 35px;
  margin: 0;
}

.cardSize {
  padding: 10px 8% 5% 8%;
}

select{
  border: none;
}

.selectGenero {
  width: 100%;
  border: 1px solid rgba(97, 95, 95, 0.589);

}

.whitebox {
  padding: 40px 0 30px 0;
}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.separatorSabiasQue {
  padding-bottom: 40px;
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}

.btnShow {
  background-color: #f992ad;
  color: white;
  border: 1px solid rgb(97, 95, 95);
}

.btnShow:hover {
  background-color: #c580ed;
  color: white;
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.login-sec {
  padding: 50px 30px;
  position: relative;
}

.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

.login-sec .copy-text i {
  color: #feb58a;
}

.login-sec .copy-text a {
  color: #e36262;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #de6262;
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #feb58a;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.btn-login {
  background: #de6262;
  color: #fff;
  font-weight: 600;
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

.banner-text p {
  color: #fff;
}
