a {
  text-decoration: none;
}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.style-text {
  color: #000000;
  font-size: 20px;
  text-align: justify;
}

.botonvermas {
  width: 15vw;
  background-color: #f992ad;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.botonvermas:hover {
  color: white;
  background-color: #fab4c8;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.35);
}

.socialMediaIcon {
  width: 30px;
  float: left;
  margin-right: 15px;
}
.gmailIcon {
  width: 30px;
  float: left;
  margin-right: 15px;
}

.formContactenos {
  margin: 150px 8vw 50px 8vw;
}

.formInputsContactenos {
  padding: 20px 0 20px 0;
}

.inputsContactenos {
  padding: 10px 0 20px 0;
}

.btnEnviar {
  padding: 25px 0 25px 0;
}

.containerInfoWhatsapp {
  padding: 20px 0 20px 0;
}
