<div class="formContactenos">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">CONTACTANOS</p>
    </ul>
  </div>

  <div class="formInputsContactenos">
    <div style="justify-content: center">
      <p class="style-text">
        Si tienes alguna duda o quieres alguna asesoria para la compra de
        productos no dudes en comunicarte con nosotros. Estamos dispuestos a
        solucionar todas tus dudas.
      </p>
      <h3>PUEDES DEJARNOS TU COMENTARIO</h3>
    </div>

    <form class="text-center inputsContactenos">
      <input
        type="text"
        id="defaultContactFormName"
        class="form-control mb-4"
        placeholder="Nombre"
      />

      <input
        type="email"
        id="defaultContactFormEmail"
        class="form-control mb-4"
        placeholder="Correo"
      />
      <div class="form-group">
        <textarea
          class="form-control rounded-0"
          id="exampleFormControlTextarea2"
          rows="3"
          placeholder="Mensaje"
        ></textarea>
      </div>

      <div class="btnEnviar">
        <button type="button" class="btn botonvermas" routerLink="/productos">
          Enviar
        </button>
      </div>
    </form>
  </div>

  <div>
    <p class="style-text">
      Brindamos asesorias en nuestra linea de WhatsApp, también nos puedes
      escribir al correo.
    </p>
  </div>

  <div class="containerInfoWhatsapp">
    <a href="https://web.whatsapp.com" target="_blank">
      <img [src]="whatsappIcon" class="socialMediaIcon" />
      <p class="style-text"><strong>WhatsApp :</strong> 3015969277</p>
    </a>
  </div>

  <div>
    <img [src]="gmailIcon" class="gmailIcon" />
    <p class="style-text"><strong>Correo:</strong> info@feelmeshop.com</p>
  </div>
</div>
<app-footer></app-footer>
