<app-navbar></app-navbar>

<div class="formContactenos">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{'ConctatcTitle' | translate}}</p>
    </ul>
  </div>

  <div class="formInputsContactenos">
    <div style="justify-content: center">
      <p class="style-text">
        {{'ConctactText1' | translate}}
      </p>
      <h3>{{'ConctactText2'| translate }}</h3>
    </div>

    <form class="text-center inputsContactenos">
      <input
        type="text"
        class="form-control mb-4"
        placeholder="{{'ContatcName'| translate }}"
        name="nombre"
        autocomplete="off"
        id="iDnombre"
        [(ngModel)]="nombre"
      />

      <input
        type="email"
        class="form-control mb-4"
        placeholder="{{'ContatcEmail'| translate }}"
        name="correo"
        id="iDemail"
        autocomplete="off"
        [(ngModel)]="correo"
       
      />
      <div class="form-group">
        <textarea
          class="form-control rounded-0"
          id="mensaje"
          rows="3"
          placeholder="{{'ContatcMessage'| translate }}"
          name="mensaje"
          autocomplete="off"
          [(ngModel)]="mensaje"
        ></textarea>
      </div>

      <div class="btnEnviar" (click)="enviarMensaje()">
        <button type="button" class="btn botonvermas" href="/productos">
          {{'Send'| translate }}
        </button>
      </div>
    </form>
  </div>

  <div>
    <p class="style-text">
      {{'ConctactText3'| translate }}
    </p>
  </div>

  <div class="containerInfoWhatsapp">
    <a href="https://web.whatsapp.com" target="_blank">
      <img [src]="whatsappIcon" class="socialMediaIcon" />
      <p class="style-text"><strong>WhatsApp :</strong> +57 3015969277</p>
    </a>
  </div>

  <div>
    <img [src]="gmailIcon" class="gmailIcon" />
    <p class="style-text"><strong>{{'ContatcEmail'| translate }}:</strong> info@feelmeshop.com</p>
  </div>
</div>
<app-footer></app-footer>
