<div class="row">
  <div class="col-md-6">
    <div style="padding-top: 150px">
      <div class="separatorSabiasQue">
        <ul class="nav nav-middle">
          <p class="nav-links nav-middle-text">CONTÁCTANOS</p>
        </ul>
      </div>

      <div style="justify-content: center">
        <h1 class="style-text">
          Si tienes alguna duda o quieres alguna asesoria para la compra de
          productos no dudes en comunicarte con nosotros. Estamos dispuestos a
          solucionar todas tus dudas.
        </h1>
      </div>

      <div class="separatorSabiasQue" style="margin-top: 20px">
        <ul class="nav nav-middle">
          <p class="nav-links nav-second-text">PUEDES DEJARNOS TU COMENTARIO</p>
        </ul>
      </div>
      <!-- Default form contact -->
      <form class="text-center border border-light p-5 form">
        <!-- Name -->
        <input
          type="text"
          id="defaultContactFormName"
          class="form-control mb-4"
          placeholder="Nombre"
        />
        <!-- Email -->
        <input
          type="email"
          id="defaultContactFormEmail"
          class="form-control mb-4"
          placeholder="Correo"
        />
        <div class="form-group">
          <textarea
            class="form-control rounded-0"
            id="exampleFormControlTextarea2"
            rows="3"
            placeholder="Mensaje"
          ></textarea>
        </div>
        <!-- Copy -->
        <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center"></div>
        </div>
        <!-- Send button -->
        <button mdbBtn class="botonEnviar" type="submit">Enviar</button>
      </form>
      <!-- Default form contact -->
    </div>

    <div style="justify-content: center">
      <h1 class="style-text">
        Brindamos asesorias en nuestra linea de WhatsApp, también nos puedes
        escribir al correo.
      </h1>
    </div>
    <div style="float: left">
      <ul>
        <li style="list-style: none">
          <a href="https://web.whatsapp.com" target="_blank">
            <img [src]="whatsappIcon" class="socialMediaIcon" />
          </a>
        </li>
      </ul>
    </div>
    <div style="float: left; margin-top: 20px; margin-left: -50px">
      <h1 class="style-text">WhatsApp : 3015969277</h1>
    </div>

    <div style="justify-content: center">
      <div style="float: left">
        <ul>
          <li style="list-style: none; margin-left: -40px;">
            <img [src]="gmailIcon" class="gmailIcon" />
          </li>
        </ul>
      </div>
      <div style="float: left; margin-top: 20px; margin-left: -50px">
        <h1 class="style-text">info@feelmeshop.com</h1>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
