<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{'PRECIOSASEQUIBLES'| translate }}</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-5">
      <p class="style-text">
        {{'PrecioAsequible'| translate }}
      </p>
    </div>
    <div class="col-md-7">
      <img
        [src]="precios"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
