.cardsContainer{
  padding: 0 5vw 0 5vw;
}

.individualCard{
  padding: 0 0 30px 0;
  
}

.border-dark{
  /* background-color: #A480F2; */
}

.individualCard{
/*   color: white;*/
}

.individualCard .card-title{
  color: #A480F2;
}

.card-title{
  color: #f0134d;
}

.individualCard .boton1 {
  background-color: #F992AD;
  color: white;
  margin-right: 5px;
}

.boton1:hover {
  color: white;
  background-color: #b643cd;
}

/*-----------------------------Separador-----------------------------*/

.separatorSabiasQue{
  padding-bottom: 30px;
}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}