<app-navbar></app-navbar>

<div style="padding-top: 150px">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">
        {{ "PREGUNTASFRECUENTES" | translate }}
      </p>
    </ul>
  </div>

  <section class="cardsContainer">
    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">{{ "p1" | translate }}</h5>
          <p>{{ "r1" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">{{ "p2" | translate }}</h5>
          <p>
            {{ "r2" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">{{ "p3" | translate }}</h5>
          <p>
            {{ "r3" | translate }}
          </p>
          <a href="/envios">
            <button type="submit" class="btn boton1">
              {{ "CA" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">
            {{ "p4" | translate }}
          </h5>
          <p>
            {{ "r4" | translate }}
          </p>
          <a href="/envios">
            <button type="button" class="btn boton1">
              {{ "CA" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">
            {{ "p5" | translate }}
          </h5>
          <p class="card-text">
            {{ "r5" | translate }}
          </p>
          <a href="/confidencialidad">
            <button type="button" class="btn boton1">
              {{ "CA" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">
            {{ "p6" | translate }}
          </h5>
          <p>
            {{ "r6" | translate }}
          </p>

          <a href="/envios">
            <button type="button" class="btn boton1">
              {{ "CA" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">
            {{ "p7" | translate }}
          </h5>
          <p>
            {{ "r7" | translate }}
          </p>
          <a href="/envios">
            <button type="button" class="btn boton1">
              {{ "CA" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="individualCard">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">
            {{ "p8" | translate }}
          </h5>
          <p>
            {{ "r8" | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
