<div style="padding-top: 150px">

<div class="separatorSabiasQue">
  <ul class="nav  nav-middle">
    <p class="nav-links nav-middle-text">PREGUNTAS FRECUENTES</p>
  </ul>
</div>

<section class="cardsContainer">

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">¿Tienen tienda física?</h5>
        <p>No, Feel Me Sexshop solo cuenta con tienda online.</p>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">¿Puedo hacer un pedido por teléfono?</h5>
        <p>
          Si, nuestras asesoras estan dispuesta en los horarios especificados
          para tomar tu pedido y asesorarte en todo lo que necesites al momento
          de llevar a cabo tu pedido.
        </p>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">¿Puedo pagar mi pedido en contra entrega?</h5>
        <p>
          Sí, puedes cancelar el costo del producto y el envio en efectivo en el
          momento de la entrega. Es conveniente tener el dinero justo para
          cancelar, ya que los repartidores no suelen llevar cambio. Para mas
          información visita nuestra seccion de envios donde podras enterarte de
          la informacion completa.
        </p>
        <button type="button" class="btn boton1" routerLink="productos">
          Click Aquí
        </button>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">
          ¿Es segura mi compra en la tienda online Feel Me Sexshop?
        </h5>
        <p>
          Te aseguramos que realizar una compra a traves de nuestra pagina
          online y su posterior pago por internet es seguro al 100%, ya que toda
          la información sensible del usuario, como el número de tarjeta,
          dirección o teléfono se transmite a través de métodos seguros de
          compra, como por ejemplo pasarelas de pago de PayPal o controles
          telemáticos encriptados, qué es la misma tecnología que usan los
          bancos para realizar sus transacciones. Para mas información visita
          nuestra seccion de envios donde podras enterarte de la informacion
          completa.
        </p>
        <button type="button" class="btn boton1" routerLink="productos">
          Click Aquí
        </button>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">
          ¿Son discretos al momento de realizar la compra y entrega del
          producto?
        </h5>
        <p class="card-text">
          Contamos con un alto nivel de confidencialidad al momento de llevar a
          cabo las asesorias, compras, embalaje, envio y la entrega final del
          producto. Para mas informacion puedes revisar nuestra seccion de
          discreción donde explicamos con mas detalle nuestros envios.
        </p>
        <button type="button" class="btn boton1" routerLink="productos">
          Click Aquí
        </button>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">
          ¿Cuanto tiempo tarda mi envio desde que lo solicito hasta recibirlo en
          mi residencia?
        </h5>
        <p>
          En Feel Me SexShop realizamos envios todos los dias con excepcion de
          los dias Domingos y dias festivos. Tu pedido sera enviado en maximo
          dos dias desde que realices la solicitud. El resto del tiempo sera el
          que la transportadora tarde en realizar la llegada del producto hasta
          la puerta de tu casa.Para mas información visita nuestra seccion de
          envios donde podras enterarte de la informacion completa.
        </p>
        <button type="button" class="btn boton1" routerLink="productos">
          Click Aquí
        </button>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">
          ¿Puedo recoger el paquete en una oficina en lugar de mi domicilio?
        </h5>
        <p>
          Si prefieres que la agencia de transporte no acuda a tu domicilio,
          lugar de trabajo u otro destino personal, también puedes elegir que te
          lo enviemos a una oficina de una agencia de transporte donde ellos se
          comunicaran contigo para informarte cuando puedes acercarte a recoger
          tu producto. Para mas información visita nuestra seccion de envios donde podras enterarte de la informacion completa.
        </p>
        <button type="button" class="btn boton1" routerLink="productos">
          Click Aquí
        </button>
      </div>
    </div>
  </div>

  <div class="individualCard">
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title">
          ¿Qué garantías tienen los productos de Feel Me Sexshop?
        </h5>
        <p>
          Dependiendo del tipo del producto, cada uno de ellos tiene una
          garantia diferente con tiempos de 3 meses, 6 meses, un año y dos años
          respectivamente.
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

</div>