<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">
        {{ "ATENCIONOPORTUNA" | translate }}
      </p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="atencionOportuna"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        {{ "AOTxt1" | translate }}
      </p>
      <div class="containerBtn">
        <button type="button" class="btn boton1" href="/contacto">
          {{ "CA" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
