/* Separador */
.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.nav-middle-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Menu Lateral */

.titleMenu {
  font-size: 30px;
  font-weight: 600;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.optionsContainer {
  padding: 20px 0 20px 0px;
}

.options {
  width: 200px;
  text-decoration: none;
}

.productDiv {
  height: 40px;
  padding-left: 30px;
  color: #000000;
  text-align: left;
  align-items: center;
  line-height: 40px;
}

.productDiv:hover {
  color: #c580ed;
}

.titleCategories {
  color: #6b37da;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
}
/* Cards Productos */

.cardsContainer {
  padding: 30px 0px 30px 15px;
}

.cardSize {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 500px;
}

img {
  max-width: 180px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cardProduct {
  padding: 0 45px 0 45px;
}

.buttonZone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
}

.buttonProduct {
  background-color: #f992ad;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
  text-align: center;
  width: 10vw;
  font-size: 1vw;
}

.buttonProduct:hover {
  color: white;
  background-color: #fbbcee;
}

.boton2 {
  background-color: #a480f2;
  color: white;
  margin-left: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.boton2:hover {
  background-color: #cfb9f7;
  color: white;
}

.titles {
  font-size: 18px;
  font-weight: 600;
}

.description {
  text-align: justify;
  font-size: 12px;
}

.price {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.card-footer {
  background-color: white;
  text-decoration: none;
  border: none;
  padding-bottom: 10px;
}

/* Responsive Query */
@media (max-width: 500px) {
  .buttonProduct {
    width: 100%;
    font-size: 4vw !important;
  }
  .menuContainer {
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .buttonProduct {
    width: 100%;
    font-size: 2vw !important;
  }
  .menuContainer {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 991px) {
  .buttonProduct {
    width: 100%;
    font-size: 1.2vw !important;
  }
  .menuContainer {
    display: none;
  }
}

@media (min-width: 992) and (max-width: 1291px) {
  .buttonProduct {
    width: 10vw;
    font-size: 0.6vw !important;
  }
}

@media (min-width: 1292px) {
  .buttonProduct {
    width: 100%;
    font-size: 1.2vw !important;
  }
}
