<app-navbar></app-navbar>
<div style="padding-top: 130px">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">NUESTROS PRODUCTOS</p>
    </ul>
  </div>

  <div class="row">
    <!-- Menu Lateral -->
    <div class="col-3 menuContainer" style="background-color: #f992ad">
      <div class="optionsContainer">
        <p>Categorias</p>

        <a class="options" href="/login"
          ><div style="background-color: aquamarine" class="productDiv">
            Producto 1
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: blue" class="productDiv">
            Producto 2
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: bisque" class="productDiv">
            Producto 3
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: brown" class="productDiv">
            Producto 4
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: chartreuse" class="productDiv">
            Producto 4
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: cornflowerblue" class="productDiv">
            Producto 4
          </div></a
        >
      </div>
    </div>

    <!-- Productos -->
    <div class="col" style="background-color: aqua">
      <div class="card-group">
        <!-- Subproducto 1 -->

        <div class="card cardProduct">
          <img [src]="prueba1" class="containerImg" />

          <div class="card-body">
            <h5 class="card-title titulos">Audifonos Para mujer</h5>
            <h6 class="categoria">Categoría</h6>
            <p>$360</p>
            <div class="buttonZone">
              <button type="button" class="btn btn-lg boton1" href="productos">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2" href="productos">
                Vista
              </button>
            </div>
          </div>
        </div>

        <!-- Subproducto 2 -->
        <div class="card cardProduct">
          <img [src]="prueba1" class="containerImg" />

          <div class="card-body">
            <h5 class="card-title titulos">Audifonos Para mujer</h5>
            <h6 class="categoria">Categoría</h6>
            <p>$360</p>
            <div class="buttonZone">
              <button type="button" class="btn btn-lg boton1" href="productos">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2" href="productos">
                Vista
              </button>
            </div>
          </div>
        </div>

        <!-- Subproducto 3 -->
        <div class="card cardProduct">
          <img [src]="prueba1" class="containerImg" />

          <div class="card-body">
            <h5 class="card-title titulos">Audifonos Para mujer</h5>
            <h6 class="categoria">Categoría</h6>
            <p>$360</p>
            <div class="buttonZone">
              <button type="button" class="btn btn-lg boton1" href="productos">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2" href="productos">
                Vista
              </button>
            </div>
          </div>
        </div>


        

      </div>
    </div>
  </div>
</div>
