<app-navbar></app-navbar>
<div style="padding-top: 130px">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">NUESTROS PRODUCTOS</p>
    </ul>
  </div>

  <div class="row">
    <!-- Menu Lateral -->
    <div class="col-2 menuContainer" style="background-color: #f992ad">
      <div class="optionsContainer">
        <p>No se que va aca</p>

        <a class="options" href="/login"
          ><div style="background-color: aquamarine" class="productDiv">
            Producto 1
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: blue" class="productDiv">
            Producto 2
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: bisque" class="productDiv">
            Producto 3
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: brown" class="productDiv">
            Producto 4
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: chartreuse" class="productDiv">
            Producto 4
          </div></a
        >

        <a class="options" href="/login"
          ><div style="background-color: cornflowerblue" class="productDiv">
            Producto 4
          </div></a
        >
      </div>
    </div>

    <!-- Productos -->
    <div class="col" style="background-color: aqua">
      <div class="row g-3 cardsContainer">
        <!-- cARDS -->
        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm col-md col-lg-3">
          <div class="card">
            <img [src]="prueba1" class="card-img-top" alt="product" />
            <div class="card-body">
              <p class="card-title titles">Audifonos Para mujer</p>
              <p class="description">
                Audifonos Multiproposito para mujeres, de color rosado. Estilo
                Sorround De Alta Calidad
              </p>
              <p class="price">$360</p>
              <div class="buttonZone">
                <button type="button" class="btn buttonProduct" href="productos">
                  Añadir al carrito
                </button>
                <button type="button" class="btn buttonProduct" href="productos">
                  Vista
                </button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
