<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{ "Returns" | translate }}</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="devolucImg"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        {{ "ReturnsTxt1" | translate }}
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #cfb9f7">
      <p class="nav-links nav-middle-text">
        {{ "HOWCANIMAKETHERETURN" | translate }}
      </p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      {{ "ReturnsTxt2" | translate }} <br /><br />
      {{ "ReturnsTxt3" | translate }} <br /><br />
      {{ "ReturnsTxt4" | translate }} <br /><br />
      {{ "ReturnsTxt5" | translate }}
    </p>
  </div>
</div>

<app-footer></app-footer>
