<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">DEVOLUCIONES</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="devolucImg"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        Debido a que los artículos que ofrecemos son de uso íntimo, todo
        producto con pilas sale probado en su funcionamiento y calidad de
        nuestras instalaciones. Una vez se efectúe la entrega al cliente
        agradecemos revisar su compra de inmediato. Cada producto que
        comercializamos puede causar sensaciones diferentes según la persona que
        lo use por lo cual no garantizamos que el 100% de los clientes tengan el
        mismo resultado. Nuestra política de garantía cubre fallas y defectos
        que ocurren debido a errores de fabricación.
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #cfb9f7">
      <p class="nav-links nav-middle-text">¿CÓMO PUEDO HACER LA DEVOLUCIÓN?</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      Hacer una devolución en Feel Me-Sex Shop es muy fácil, tan solo envianos
      un mensaje a nuestro WhatSapp indicando los problemas de fabrica que
      presenta el o los productos adquiridos. te indicaremos el procedimiento de
      devolución y te ayudaremos en todo para resolver tu incidencia o
      desestimiento con la mayor brevedad. Recuerda que : <br /><br />
      Antes de solicitar una devoluciòn primero verifica las batería. La mayoría
      de los productos que no parecen funcionar se deben a errores con las
      baterías. Verifica que las baterías estén en la forma correcta, reemplace
      las baterías o recargue su juguete. <br /><br />
      Para realizar la devolución, el producto no puede haber sido utilizado y
      se debe conservar el packing original. <br /><br />
      En caso que el producto presente alguna anomalía o defecto de fabricación,
      envíanos una foto para resolver tu solicitud con mayor rapidez.
    </p>
  </div>
</div>

<app-footer></app-footer>
