<div style="padding-top: 150px">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle">
      <p class="nav-links nav-middle-text">Pedidos y envios</p>
    </ul>
  </div>

  <img
    src="https://mdbootstrap.com/img/new/standard/city/042.webp"
    class="img-fluid shadow-2-strong"
    alt=""
  />

<div>
    <h1>
     Feel Me-Sex Shop cuenta con tarifas de envio muy competitivas. A las ciudades principales los envios se demoran entre 1 y 2 días hábiles en llegar, a las ciudades secundarias pueden demorar hasta 8 días hábiles en llegar. Las transportadoras con las cuales trabajamos son Servientrega, Coordinadora, Envía e interrapidísimo.
        En caso tal de que éstas empresas no lleguen a tu ubicación, nos adaptamos a la que nos sugieras.
    </h1>
  </div>

<div class="separatorSabiasQue">
    <ul class="nav nav-middle">
      <p class="nav-links nav-middle-text">Costes de Envio</p>
    </ul>
</div>

<div>
    <h1>
    El envío es gratis por compras desde $150.000, si es menor a este valor, pagarías  por el valor del flete, dependiendo de la transportadora.
    </h1>
</div> 
<table>
<thead>
<tr>
  <th>Texto</th>
  <th>Imagen</th>
  <th>Texto</th>
</tr>
</thead>
<tbody><tr>
  <td>Test</td>
  <td><img src="test.png"></td>
</tr>
<tr>
  <td>Descargar</td>
  <td><img src="download.png"></td>
</tr>
<tr>
  <td>Curso</td>
  <td><img src="curso.png"></td>
</tr>
</tbody>
</table> 

  <app-footer></app-footer>
</div>