<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">
        {{ "ORDERSANDSHIPMENTS" | translate }}
      </p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="entregaImagen"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        {{ "ShippingTxt1" | translate }}
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #cfb9f7">
      <p class="nav-links nav-middle-text">{{ "SHIPPINGCOSTS" | translate }}</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      {{ "ShippingTxt2" | translate }}
    </p>
  </div>

  <div class="divTable">
    <table class="table style-text">
      <tr>
        <th>{{ "Carrier" | translate }}</th>
        <th>{{ "CostOfTransportation" | translate }}</th>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.servientrega.com/wps/portal/cotizador/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT1dDE30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMcNLPyo9Jz8J4l3HvCRji3T9qKLUtNSi1CK90iKgcEZJSUGxlaqBqkF5ebleen5-ek6qXnJ-rqoBNi0Z-cUl-hGoKvULckMjDLJMc8p8HBUBV6wHWw!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/"
            class="containerImage"
            target="_blank"
          >
            <img
              [src]="servientrega"
              alt=""
              srcset=""
              class="image-transporte"
            />
          </a>
        </td>
        <td><h4>{{ "11000" | translate }}</h4></td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.interrapidisimo.com/cotiza-tu-envio/"
            class="containerImage"
            target="_blank"
          >
            <img
              [src]="interRapidisimo"
              alt=""
              srcset=""
              class="image-transporte"
            />
          </a>
        </td>
        <td><h4>{{ "13000" | translate }}</h4></td>
      </tr>
    </table>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f78ecf">
      <p class="nav-links nav-middle-text">{{ "DELIVERYTIMES" | translate }}</p>
    </ul>
  </div>

  <div style="justify-content: center" style="padding-bottom: 30px">
    <p class="style-text">
      {{'ShippingTxt3'| translate }}
    </p>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #c580ed">
      <p class="nav-links nav-middle-text">{{'ITEMSINYOURCART'| translate }}</p>
    </ul>
  </div>

  <div style="justify-content: center" class="espacio-footer">
    <p class="style-text">
      {{'ShippingTxt4'| translate }} <br /><br />
      {{'ShippingTxt5'| translate }}
    </p>
  </div>
</div>

<app-footer></app-footer>
