<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">PEDIDOS Y ENVÍOS</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <img
        [src]="entregaImagen"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-5">
      <p class="style-text">
        Contamos con envios a todo el pais, Las transportadoras con las cuales
        trabajamos son Servientrega e interrapidísimo. En caso tal de que éstas
        empresas no lleguen a tu ubicación, nos adaptamos a la que nos sugieras.
        Si prefieres que la agencia de transporte no acuda a tu domicilio, lugar
        de trabajo u otro destino personal, también puedes elegir que te lo
        enviemos a una oficina de una agencia de transporte donde ellos se
        comunicaran contigo para informarte cuando puedes acercarte a recoger tu
        producto.
      </p>
    </div>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #cfb9f7">
      <p class="nav-links nav-middle-text">COSTES DE ENVÍO</p>
    </ul>
  </div>

  <div style="justify-content: center">
    <p class="style-text">
      El envío es gratis por compras desde $90.000, si es menor a este valor,
      pagarías por el valor del flete, dependiendo de la transportadora y la
      ciudad a la que vaya el envio.
    </p>
  </div>

  <div class="divTable">
    <table class="table style-text">
      <tr>
        <th>Transportadora</th>
        <th>Coste del transporte</th>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.servientrega.com/wps/portal/cotizador/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT1dDE30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMcNLPyo9Jz8J4l3HvCRji3T9qKLUtNSi1CK90iKgcEZJSUGxlaqBqkF5ebleen5-ek6qXnJ-rqoBNi0Z-cUl-hGoKvULckMjDLJMc8p8HBUBV6wHWw!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/"
            class="containerImage"
            target="_blank"
          >
            <img
              [src]="servientrega"
              alt=""
              srcset=""
              class="image-transporte"
            />
          </a>
        </td>
        <td><h4>Desde 11.000 $</h4></td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.interrapidisimo.com/cotiza-tu-envio/"
            class="containerImage"
            target="_blank"
          >
            <img
              [src]="interRapidisimo"
              alt=""
              srcset=""
              class="image-transporte"
            />
          </a>
        </td>
        <td><h4>Desde 13.000 $</h4></td>
      </tr>
    </table>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f78ecf">
      <p class="nav-links nav-middle-text">TIEMPOS DE ENTREGA</p>
    </ul>
  </div>

  <div style="justify-content: center" style="padding-bottom: 30px">
    <p class="style-text">
      En Feel Me SexShop realizamos envios todos los dias con excepcion de los
      dias Domingos y dias festivos. Tu pedido sera enviado en maximo dos dias
      desde que realices la solicitud. El resto del tiempo sera el que la
      transportadora tarde en realizar la llegada del producto hasta la puerta
      de tu casa. Para las ciudades principales los envios se demoran entre 3 y
      4 días hábiles en llegar, a las ciudades secundarias pueden demorar de 6
      hasta 8 días hábiles en llegar.
    </p>
  </div>

  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #c580ed">
      <p class="nav-links nav-middle-text">ARTÍCULOS EN TU CARRITO</p>
    </ul>
  </div>

  <div style="justify-content: center" class="espacio-footer">
    <p class="style-text">
      Para poder conocer el precio exacto de los gastos de envío, antes de
      realizar el pedido debes añadir a tu carrito los artículos que desees,
      seleccionar destino y transportadora. <br /><br />
      Antes de efectuar la compra sus gastos de envío se calcularán
      automáticamente en base a los productos que tengas en la cesta y según la
      agencia de transportes seleccionada. La información será facilitada
      siempre de forma previa a la realización del pago.
    </p>
  </div>
</div>

<app-footer></app-footer>
