.seccion {
  padding-bottom: 20px;
}

.container /*selector por clase o por etiqueta*/ {
  width: 1140px;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

/* Separador */
.nav-middle {
  display: flex !important;
  align-items: center !important;
  background-color: #C580ED; /* Color Separador */
  justify-content: center;
  text-shadow: 2px -2px 1px #000;
}

/* Separador Texto */
.nav-middle-text {
  color: white;
  font-size: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sliderProductsContainer{
  padding-top: 30px;
}

.display-2 {
  text-align: center;
  font-weight: bold;
}

.categoria {
  font-size: 11px;
}

.vermas {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.botonvermas {
  width: 12vw;
  background-color: #F78ECF;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.botonvermas:hover {
  color: white;
  background-color: #FBBCEE;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.35);
}


/* Cards */

.card-group{
  padding: 0 60px;
}

.cardsContainer {
  justify-content: center;
}

.cardSize {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 500px;
}

.titles {
  font-size: 18px;
  font-weight: 600;
}

.description {
  text-align: justify;
  font-size: 12px;
}

.price {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.card-footer {
  background-color: white;
  text-decoration: none;
  border: none;
  padding-bottom: 10px;
}

.buttonZone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
}

.buttonProduct {
  background-color: #f992ad;
  color: white;
  margin-right: 5px;
  text-align: center;
  width: 10vw;
  font-size: 1vw;
}

img {
  max-width: 180px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
