<section class="seccion">
  <h5 class="display-2">Ofertas</h5>

  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <!-- Producto 1 -->
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="card-group">
          <!-- Subproducto 1 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 1.1</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 2 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 1.2</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 3 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 1.3</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Producto2 -->
      <div class="carousel-item" data-bs-interval="2000">
        <div class="card-group">
          <!-- Subproducto 1 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 2.1</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 2 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 2.2</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 3 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 2.3</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Producto 3 -->
      <div class="carousel-item">
        <div class="card-group">
          <!-- Subproducto 1 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 3.1</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 2 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 3.2</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>

          <!-- Subproducto 3 -->
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">Producto 3.3</h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Boton Ver Mas -->
  <section class="vermas">
    <button type="button" class="btn botonvermas" routerLink="productos">
      Ver Más
    </button>
  </section>
</section>
