<app-navbar></app-navbar>

<section class="seccion">
  <ul class="nav nav-tabs nav-middle">
    <p class="nav-links nav-middle-text">PRODUTOS EN OFERTA</p>
  </ul>

  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide sliderProductsContainer"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner cardsSlider">
      <!-- Producto 1 -->
      <div class="carousel-item active" data-bs-interval="4000">
        <div class="card-group">
          <!-- CardProduct -->
          <div class="row cardsContainer g-2">
            <div
              class="col-sm col-md col-lg-3"
              *ngFor="let productos of listaProductosVibradores; let i = index"
            >
              <!-- CARDS -->
              <div class="card cardSize">
                <img [src]="prueba1" class="card-img-top" alt="product" />
                <p class="card-title titles">{{ productos.nombreProducto }}</p>

                <div class="card-body">
                  <p class="description">
                    {{ productos.descripcion }}
                  </p>
                  <p class="price">${{ productos.precio }}</p>
                </div>
                <div class="card-footer">
                  <div class="buttonZone">
                    <button
                      type="button"
                      class="btn buttonProduct"
                      href="productos"
                    >
                      Añadir al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card Product -->
        </div>
        <!-- Card Group -->
      </div>
      <!-- Slider 1 -->

      <!-- Producto2 -->
      <div class="carousel-item sliderProduct" data-bs-interval="4000">
        <!-- Card Grourp -->
        <div class="card-group">
          <!-- CardProduct -->
          <div class="row cardsContainer g-2">
            <div
              class="col-sm col-md col-lg-3"
              *ngFor="let productos of listaProductosLenceria; let i = index"
            >
              <!-- CARDS -->
              <div class="card cardSize">
                <img [src]="prueba1" class="card-img-top" alt="product" />
                <p class="card-title titles">{{ productos.nombreProducto }}</p>

                <div class="card-body">
                  <p class="description">
                    {{ productos.descripcion }}
                  </p>
                  <p class="price">${{ productos.precio }}</p>
                </div>
                <div class="card-footer">
                  <div class="buttonZone">
                    <button
                      type="button"
                      class="btn buttonProduct"
                      href="productos"
                    >
                      Añadir al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card Product -->
        </div>
        <!-- Card Group 2 -->
      </div>
      <!-- Slider 2 -->
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Boton Ver Mas -->
  <section class="vermas">
    <a type="submit" class="btn botonvermas" href="/productos"> Ver Más </a>
  </section>
</section>
