<app-navbar></app-navbar>

<div class="enviosContainer">
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">Sección de Pago</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-7">
      <p class="title-section">INFORMACIÓN PERSONAL</p>
      <p class="text-style">
        Ingresa tus datos faltantes o los de la persona que va a recibir el
        pedido.
      </p>
      <form>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input type="text" class="form-control" id="correo" />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombres">Nombres</label>
            <input type="text" class="form-control" id="nombres" />
          </div>
          <div class="form-group col-md-6">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" />
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input
            type="text"
            class="form-control"
            id="direccion"
            autocomplete="off"
            placeholder="Cra 12 #64-158"
            [ngModel]="direccion"
          />
        </div>
        <div class="form-group">
          <label for="direccion2">Dirección 2 (Opcional)</label>
          <input
            type="text"
            class="form-control"
            id="direccion2"
            placeholder="Apartmento, piso, unidad, etc."
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="departamento">Departamento</label>
            <select
              id="departamento"
              class="form-control"
              [(ngModel)]="departamento"
            >
              <option selected>Elige un Departamento...</option>
              <option>Tolima</option>
              <option>Caldas</option>
              <option>Antioquia</option>
              <option>Risaralda</option>
              <option>Boyacá</option>
            </select>
          </div>
          <div class="form-group col-md-5">
            <label for="ciudad">Ciudad</label>
            <input
              type="text"
              class="form-control"
              id="ciudad"
              autocomplete="off"
            />
          </div>

          <div class="form-group col-md-3">
            <label for="cPostal">Codigo Postal</label>
            <input type="text" class="form-control" id="cPostal" />
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input
            type="text"
            class="form-control"
            id="telefono"
            autocomplete="off"
          />
        </div>
      </form>

      <p class="title-section">MÉTODO DE ENVIÓ Y TRANSPORTADORA</p>
      <p class="text-style">
        Acontinuación debes de seleccionar la transpordadora, puedes cotizar el
        costo del envio a tu ciudad en en la sección de
        <a href="/envios" class="envio-link">envios</a>, recuerda que si tu
        compra es mayor a 90.000$ el envio sale gratis !.
      </p>
      <div class="form-group">
        <select
          id="departamento"
          class="form-control"
          [(ngModel)]="transportadora"
        >
          <option selected disabled>Elige una transportadora...</option>
          <option>Servientrega 11.000 $</option>
          <option>Interapidisimo 13.000 $</option>
        </select>
      </div>

      <p class="title-section">INFORMACIÓN DE PAGO</p>
      <p class="text-style">
        Recuerda que todas tus transacciones son seguras. Escoge el metodo que
        mejor se adapte a tu necesidad.
      </p>
      <div class="accordion col-md-13" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Tarjeta de crédito, PSE, Efecty y Baloto
              <img [src]="mercadoPago" class="card-img-center" alt="" />
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Puedes pagar con tu tarjeta de crédito, débito o pagos en
                efectivo. Manejamos los siguientes medios :
              </p>
              <ul>
                <li>Visa</li>
                <li>MasterCard</li>
                <li>PSE</li>
                <li>Efecty</li>
                <li>Baloto</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Transferencia Bancaria y consignación
              <img [src]="transferencia" class="card-img-banco" alt="" />
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Realiza tu pago directamente en nuestra cuenta bancaria por
                transferencia o consignación y envíanos el comprobante de pago a
                nuestro WhatsApp.
                <strong>recuerda :</strong> Tu pedido no se procesará hasta que
                se haya recibido el importe en nuestra cuenta.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <p class="title-section">¿CÓMO DESEAS PAGAR TU PEDIDO?</p>
      <div class="metodo-pago">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1"
            >Mercado Pago</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2"
            >Transferencia bancaria</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2"
            >Pago contra entrega</label
          >
        </div>
      </div>
      <div class="vermas">
        <button type="button" class="btn botonvermas">HACER PEDIDO</button>
      </div>
    </div>

    <div class="col-md-5">
      <div class="resumen-pago">
        <p class="title-section">RESUMEN DE TU PEDIDO</p>
        <div class="card border-dark mb-3 card-pedido">
          <div class="card-header">
            <p class="card-text col">No de Productos</p>
            <p class="card-text col">1</p>
          </div>
          <div class="card-body text-dark">
            <div class="row">
              <p class="card-text col">Subtotal</p>
              <p class="card-text col">90.000 $</p>
            </div>
            <div class="row">
              <p class="card-text col">Costo Envío</p>
              <p class="card-text col">11.000 $</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <p class="card-text col">Total</p>
              <h5 class="card-text col">101.000$</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
