.enviosContainer {
  margin: 150px 8vw 50px 8vw;
}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.separatorSabiasQue {
  padding-bottom: 20px;
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}

.imageText {
  padding-bottom: 20px;
}

.title-section {
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-style {
  color: #000000;
  font-size: 17px;
  text-align: justify;
}
.envio-link {
  color: #000000;
  font-weight: bold;
}
.card-img-center {
  width: 75px;
  height: 60px;
  padding-left: 10px;
}
.card-img-banco {
  width: 100px;
  height: 70px;
  padding-left: 10px;
}
.metodo-pago {
  display: flex;
  justify-content: center;
}
.vermas {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.botonvermas {
  width: 25vw;
  height: 6vw;
  background-color: #f78ecf;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
  font-size: 30px;
}

.botonvermas:hover {
  color: white;
  background-color: #fbbcee;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.35);
}

.resumen-pago {
  display: grid;
  justify-content: center;
}
.card-pedido {
  width: 25vw;
  background-color: #fbbcee;
}
.input-resumen {
  background-color: #fbbcee;
  border-style: dashed;
  height: 30px;
  align-content: center;
}
