<div class="entryPageBackground">
  <div class="forget-password">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <img
            src="https://i.ibb.co/rshckyB/car-key.png"
            alt="car-key"
            border="0"
          />
          <div class="separatorSabiasQue">
            <ul class="nav nav-middle" style="background-color: #f992ad">
              <p class="nav-links nav-middle-text">
                {{ "Ingresa" | translate }}
              </p>
            </ul>
          </div>
          <form
            id="register-form"
            role="form"
            autocomplete="off"
            class="form"
            method="post"
          >
            <!-- Input Email -->
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">{{
                "ContatcEmail" | translate
              }}</label>
              <div class="input-group inputs">
                <input
                  class="inputEmail"
                  type="email"
                  id="email_address"
                  name="email_address"
                  placeholder="example@example.com"
                  autocomplete="off"
                  required
                  autofocus
                  [(ngModel)]="email"
                />
              </div>
            </div>

            <!-- Input Password -->
            <div class="form-group pb-4 pt-3">
              <label for="exampleInputEmail1" class="form-label">{{
                "Contraseña" | translate
              }}</label>
              <div class="input-group inputsPassword">
                <input
                  class="inputPassword"
                  type="password"
                  id="password"
                  aria-describedby="button-addon2"
                  [(ngModel)]="contrasena"
                  placeholder="******** "
                  autocomplete="off"
                  name="password"
                />
                <button
                  class="btn btnShow"
                  (click)="mostrarcontrasena()"
                  type="button"
                  id="button-addon2"
                  style="font-size: 14px"
                >
                  {{ "Ver" | translate }}
                </button>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btnEnviar" (click)="onLogin()">
                {{ "Send" | translate }}
              </button>
            </div>

            <div class="pt-4 registerLink">
              <p>
                {{ "NoTienesCuenta" | translate }}
                <a class="registrateA" href="/registro-persona">{{ "Registrate" | translate }}</a>
              </p>
            </div>
            <div>
              <p>
                {{ "OlvidasteTuContra" | translate }} <br />
                <a class="registrateA" href="/rememberPassword"
                  >{{ "RecuperarContra" | translate }}</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
