.entryPageBackground {
  background: rgb(164, 128, 242);
  background: linear-gradient(
    90deg,
    rgb(210, 192, 250) 3%,
    rgb(231, 193, 236) 50%,
    rgb(231, 193, 236) 100%
  );
  height: 100vh;
  width: 100vw;

}

.nav-middle {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.568);
}

.separatorSabiasQue {
  padding-bottom: 20px;
}

.nav-middle-text {
  color: white;
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  margin: 0;
}

.forget-pwd > a{
  color: #dc3545;
  font-weight: 500;
}

.forget-password{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.forget-password .panel-default{
  width: 420px;

}
.forget-password .panel-body{
  padding: 5% 10% 5% 10%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  width:30%;
  margin-bottom:10%;
}

.forget-password .dropdown{
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.forget-password .dropdown button{
  width: 100%;
}
.forget-password .dropdown ul{
  width: 100%;
}

.boton1 {
  background-color: #f992ad;
  color: white;
  margin-right: 5px;
  border: none;
}

.boton1:hover {
  color: white;
  background-color: #b643cd;
  border: none;
}

input
{
  justify-content: center;
  border: 1px solid rgb(97, 95, 95);
  padding: 5px 5px 5px 5px;
}

.inputs, .inputEmail
{
  justify-content: center;
  width: 100%;
}

.inputPassword{
  justify-content: center;
  width: 80%;
}

.btnShow{
  background-color: #f992ad;
  color: white;
  border: 1px solid rgb(97, 95, 95);
}

.btnShow:hover{
  background-color: #C580ED;
  color: white;
}

.btnEnviar{
  background-color: #f992ad;
  color: white;
  border: 1px solid rgb(97, 95, 95);
  padding: 6px 40px 6px 40px;
}

.btnEnviar:hover{
  background-color: #F78ECF;
  color: white;
}

.registrateA{
  color: #8115c0;
  text-decoration: none;
}

.registrateA:hover{
  color: #C580ED;
  text-decoration: none;
}

.registerLink p{
  padding: 0 !important;
  margin: 0 !important;
}