.navbar
{
    border-bottom-style: ridge;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#nav-menu-text
{
    color: white;
    font-size: 20px;
}

#nav-menu-text:hover
{
    color:gray;
}

.cart
{
    max-height: 50px;
    max-width: 50px;
}