<div class="entryPageBackground">
  <div class="forget-password">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="backImgContainer" href="/login">
          <img [src]="backArrow" alt="car-key" class="backImg" />
        </a>
        <div class="whiteCard">
          <div class="text-center">
            <form
              id="register-form"
              role="form"
              autocomplete="off"
              class="form"
              method="post"
            >
              <div class="separatorSabiasQue pb-4">
                <ul class="nav nav-middle" style="background-color: #f992ad">
                  <p class="nav-links nav-middle-text">Modificar Contraseña</p>
                </ul>
              </div>
              <!-- Input Email -->
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <div class="input-group inputs">
                  <input
                    class="inputEmail"
                    type="email"
                    id="email_address"
                    name="email_address"
                    placeholder="example@example.com"
                    autocomplete="off"
                    [(ngModel)]="email"
                    required
                    autofocus
                  />
                </div>
              </div>

              <!-- Input Password -->
              <div class="form-group pb-4 pt-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Nueva Contraseña</label
                >
                <div class="input-group inputsPassword">
                  <input
                    class="inputEmail"
                    id="password"
                    aria-describedby="button-addon2"
                    placeholder="******** "
                    autocomplete="off"
                    name="password"
                    [(ngModel)]="nuevaContrasena"
                  />
                </div>
              </div>

              <div class="form-group pb-4">
                <label for="exampleInputEmail1" class="form-label"
                  >Confirmar Nueva Contraseña</label
                >
                <div class="input-group inputsPassword">
                  <input
                    class="inputEmail"
                    id="password"
                    aria-describedby="button-addon2"
                    placeholder="******** "
                    autocomplete="off"
                    name="password"
                    [(ngModel)]="confirmarContrasena"
                  />
                </div>
              </div>

              <div class="form-group pt-2">
                <button type="submit" class="btn btnEnviar" (click)="cambiarContrasena()">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
