<app-navbar></app-navbar>

<div class="enviosContainer">
  <!-- Quienes Somos -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{ "QUIENESSOMOS" | translate }}</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-5">
      <img
        [src]="quienesSomos"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-7">
      <p class="style-text">
        {{ "QSTxt1" | translate }}
      </p>
    </div>
  </div>

  <!-- Mision -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{ "MISION" | translate }}</p>
    </ul>
  </div>
  <div class="row imageText">
    <div class="col-md-7">
      <p class="style-text">
        {{ "QSTxt2" | translate }}
      </p>
    </div>

    <div class="col-md-5">
      <img
        [src]="mision"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>
  </div>

  <!-- Vision -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{ "VISION" | translate }}</p>
    </ul>
  </div>
  <div class="row imageText">
    <div class="col-md-5">
      <img
        [src]="vision"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-7">
      <p class="style-text">
        {{ "QSTxt3" | translate }}
      </p>
    </div>
  </div>

  <!-- Valores -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">{{'ValoresDeLaEmpresa'| translate }}</p>
    </ul>
  </div>
  <div>
    <div class="style-text">
      {{'QSTxt4'| translate }}
      <br /><br />
      <ul>
        <li>{{'Respeto'| translate }}</li>
        <li>{{'Disciplina'| translate }}</li>
        <li>{{'TrabajoEnEquipo'| translate }}</li>
        <li>{{'EticaLaboral'| translate }}</li>
        <li>{{'Honestidad'| translate }}</li>
        <li>{{'Responsabilidad'| translate }}</li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
