<div class="enviosContainer">
  <!-- Quienes Somos -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">¿QUIENES SOMOS?</p>
    </ul>
  </div>

  <div class="row imageText">
    <div class="col-md-5">
      <img
        [src]="quienesSomos"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-7">
      <p class="style-text">
        Feel Me Sexshop es una empresa, dedicada y especializada en satisfacer
        las necesidades de cada uno de sus clientes con la mejor atención,
        mediante la comercialización en línea de distintas variedades de
        accesorios y prendas de excelente calidad, que brindan diferentes
        experiencias para vivir su sexualidad.
      </p>
    </div>
  </div>

  <!-- Mision -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">MISIÓN</p>
    </ul>
  </div>
  <div class="row imageText">
    <div class="col-md-7">
      <p class="style-text">
        Ofrecer una experiencia intima de forma segura y placentera, contando
        con una alta variedad de productos para todos los gustos. A través, de
        un servicio de calidad, discreción, confianza y bajo un proceso ágil y
        eficiente.
      </p>
    </div>

    <div class="col-md-5">
      <img
        [src]="mision"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>
  </div>

  <!-- Vision -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">VISIÓN</p>
    </ul>
  </div>
  <div class="row imageText">
    <div class="col-md-5">
      <img
        [src]="vision"
        class="img-fluid shadow-2-strong image-envio"
        alt=""
      />
    </div>

    <div class="col-md-7">
      <p class="style-text">
        Ser una empresa líder en el mercado a nivel nacional e internacional,
        brindando productos eróticos modernos, manteniendo la calidad y ser
        resaltados por la agradable atención al cliente.
      </p>
    </div>
  </div>

  <!-- Valores -->
  <div class="separatorSabiasQue">
    <ul class="nav nav-middle" style="background-color: #f992ad">
      <p class="nav-links nav-middle-text">VALORES DE LA EMPRESA</p>
    </ul>
  </div>
  <div>
    <div class="style-text">
    Somos una empresa que busca siempre la integridad y el bienestar de nuestros clientes y nuestros empleados por lo que nuestros valores de empresa no solo buscan aplicarse como empresa, sino como cada una de las personas que hace parte de esta familia. Estos valores son:
    <br><br>
    <ul>
      <li>Respeto</li>
      <li>Disciplina</li>
      <li>Trabajo En Equipo</li>
      <li>Ética Laboral</li>
      <li>Honestidad</li>
      <li>Responsabilidad</li>
    </ul>
  </div>
  </div>
</div>

<app-footer></app-footer>
