<section class="seccion">
  <section id="servicios" >
    <div class="container">
      <h1 class="display-2">Productos Top</h1>
      <div class="row mt-5" style="justify-content: center">
        <div class="col-sm-4">
          <div class="card">
            <img [src]="prueba1" />
            <div class="card-body">
              <h5 class="card-title titulos">
                Audifonos Para Mujer para hacer deporte
              </h5>
              <h6 class="categoria">Categoría</h6>
              <p>$360</p>
              <button type="button" class="btn btn-lg boton1">
                Añadir al carrito
              </button>
              <button type="button" class="btn btn-lg boton2">Vista</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vermas">
    <button type="button" class="btn botonvermas" routerLink="productos">Ver Más</button>
  </section>
</section>
