#servicios .bloque-servicio {
  border: 1px solid gray;
}

#servicios .bloque-servicio {
  margin-bottom: 15px;
}

.seccion {
  padding-bottom: 60px;
  padding-top: 40px;
}

.container /*selector por clase o por etiqueta*/ {
  width: 1140px;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

/* Separador */
.nav-middle {
  display: flex !important;
  align-items: center !important;
  background-color: #f992ad; /* Color Separador */
  justify-content: center;
  text-shadow: 2px -2px 1px #000;
}

/* Separador Texto */
.nav-middle-text {
  color: white;
  font-size: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sliderProductsContainer {
  padding-top: 30px;
}

.display-2 {
  text-align: center;
  font-weight: bold;
}

.categoria {
  font-size: 11px;
}

.boton1 {
  background-color: #f992ad;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.boton1:hover {
  color: white;
  background-color: #fbbcee;
}

.boton2 {
  background-color: #a480f2;
  color: white;
  margin-left: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.boton2:hover {
  background-color: #cfb9f7;
  color: white;
}

.vermas {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.botonvermas {
  width: 12vw;
  background-color: #f78ecf;
  color: white;
  margin-right: 5px;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.301);
}

.botonvermas:hover {
  color: white;
  background-color: #fbbcee;
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.35);
}

.cardsSlider {
  padding: 0 130px 0 130px;
}

.containerImg {
  display: flex;
}
.imgProduct {
  max-width: 350px;
  justify-content: center;
}

.cardProduct {
  /* padding: 0 45px 0 45px; */
}
