<div class="entryPageBackground">
  <div class="cardContainer">
    <div class="card">
      <div class="row icons">
        <img [src]="logoFeelMe" class="col-md-5 logo" />
        <img [src]="SloganFeelMe" class="col-md-7 slogan" />
      </div>
      <p class="aviso">{{ "EntryPageTxt1" | translate }} <br /></p>
      <p class="mayorEdad">{{ "EntryPageTxt2" | translate }}</p>
      <p class="verificaTuEdad">{{ "EntryPageTxt3" | translate }}</p>

      <div class="container dateContainer">
        <div class="row">
          <div class="col">{{ "Day" | translate }}</div>
          <div class="col">{{ "Month" | translate }}</div>
          <div class="col">{{ "Year" | translate }}</div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="dia"
            />
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="mes"
            />
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="anio"
            />
          </div>
        </div>
      </div>

      <div class="containerBtn">
        <button
          type="button"
          class="btn boton1"
          routerLink="/inicio"
          (click)="validacionFecha()"
        >
          {{'Confirm'| translate }}
        </button>
      </div>
    </div>
  </div>
</div>
